In [1]:
exec(open("../header.py").read())

In [5]:
from sklearn.decomposition import PCA

In [7]:
prices = pd.read_csv(data_path/"close_prices.csv", index_col="date")
prices.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [8]:
dj = pd.read_csv(data_path/"djia_index.csv", index_col="date")
dj.head()

                     DJI
date
2013-09-23  15401.379883
2013-09-24  15334.589844
2013-09-25  15273.259766
2013-09-26  15328.299805
2013-09-27  15258.240234

In [6]:
decomp = PCA(10)

In [9]:
decomp.fit(prices)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [26]:
@answer
def num_pcas(fout):
    cumulative = decomp.explained_variance_ratio_.cumsum()
    amount = sp.where(cumulative > 0.9)[0][0] + 1
    fout.write(str(amount))
num_pcas()

*** OUTPUT (output/01_num_pcas.dat) ***
4

In [27]:
reduced_data = decomp.transform(prices)

In [46]:
@answer
def dj_corr(fout):
    corr = sp.corrcoef(reduced_data[:, 0], dj["DJI"])
    fout.write(f"{corr[0][1]:.2f}")
dj_corr()

*** OUTPUT (output/02_dj_corr.dat) ***
0.91

In [49]:
@answer
def weightful_cmp(fout):
    idx = sp.argmax(decomp.components_[0])
    fout.write(prices.columns[idx])
weightful_cmp()

*** OUTPUT (output/03_weightful_cmp.dat) ***
V