In [1]:
from sklearn.tree import DecisionTreeClassifier

In [2]:
exec(open("../header.py").read())

In [3]:
data = pd.read_csv(data_path / "train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
reduced_data = data[["Pclass", "Fare", "Age", "Sex", "Survived"]]\
                   .dropna()
reduced_data["Sex"].replace("male", 1, inplace=True)
reduced_data["Sex"].replace("female", 0, inplace=True)

features = reduced_data.drop(columns=["Survived"])
classes = reduced_data["Survived"]

display(features.head())

   Pclass     Fare   Age  Sex
0       3   7.2500  22.0    1
1       1  71.2833  38.0    0
2       3   7.9250  26.0    0
3       1  53.1000  35.0    0
4       3   8.0500  35.0    1

In [5]:
classifier = DecisionTreeClassifier(random_state=241)

In [6]:
classifier.fit(features, classes)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [7]:
importances = dict(zip(features.columns, classifier.feature_importances_))
display(importances)

{'Pclass': 0.1400052185312419,
 'Fare': 0.3034364695314525,
 'Age': 0.2560461009790662,
 'Sex': 0.30051221095823943}

In [8]:
@answer
def feature_importances(fout):
    res = []
    for entry in sorted(importances, key=importances.get, reverse=True):
        val = importances[entry]
        display(entry, val)
        res.append(entry)
        if len(res) == 2:
            break
    fout.write(" ".join(res))
feature_importances()

'Fare'

0.3034364695314525

'Sex'

0.30051221095823943

*** OUTPUT (output/01_feature_importances.dat) ***
Fare Sex